.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  background-color: azure;
  height: 80px;
}

.nav__logo {
  height: 40px;
}

.nav__menu {
  display: flex;
  text-decoration: none;
  color: black;
  gap: 32px;
}

.menu {
  display: flex;
  gap: 32px;
}

.menu__label_content {
  display: none;
}

img {
  max-width: 100%;
}

.splash {
  display: block;
  width: 100%;
  position: relative;
}

.splash__content {
  position: absolute;
  top: 80px;
  bottom: inherit;
  left: 100px;
  color: white;
  font-size: larger;
}

.splash_button {
  background-color: #fced70;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  padding: 5px 5px;
}

@media screen and (max-width: 768px) {
  .splash__content {
    top: inherit;
    bottom: 0;
  }
}
.subscribe__banner {
  background-color: #514f4d;
  padding: 56px;
}
.subscribe__banner .row {
  align-items: center;
}
.subscribe__banner .social-links {
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: flex-end;
}
.subscribe__banner .input-group {
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  height: 49px;
  border-radius: 4px;
  overflow: hidden;
}
.subscribe__banner .input-group input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background-color: transparent;
  padding: 0 12px;
  color: white;
}
.subscribe__banner .input-group input::-moz-placeholder {
  color: white;
}
.subscribe__banner .input-group input::placeholder {
  color: white;
}
.subscribe__banner .input-group .btn {
  background-color: #f7eee3;
  text-transform: uppercase;
  cursor: pointer;
}

footer {
  padding: 86px 23px 40px;
  background-color: #131313;
  color: white;
}
footer ul li {
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
}
footer ul li a {
  color: white;
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: underline;
}
footer p {
  font-size: 10px;
  line-height: 20px;
  font-weight: 500;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[class*=col-] {
  box-sizing: border-box;
  padding: 8px;
}

.row {
  margin: 8px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.col-lg-1 {
  width: calc(8.3333333333% - 8px);
}

.col-lg-2 {
  width: calc(16.6666666667% - 8px);
}

.col-lg-3 {
  width: calc(25% - 8px);
}

.col-lg-4 {
  width: calc(33.3333333333% - 8px);
}

.col-lg-5 {
  width: calc(41.6666666667% - 8px);
}

.col-lg-6 {
  width: calc(50% - 8px);
}

.col-lg-7 {
  width: calc(58.3333333333% - 8px);
}

.col-lg-8 {
  width: calc(66.6666666667% - 8px);
}

.col-lg-9 {
  width: calc(75% - 8px);
}

.col-lg-10 {
  width: calc(83.3333333333% - 8px);
}

.col-lg-11 {
  width: calc(91.6666666667% - 8px);
}

.col-lg-12 {
  width: calc(100% - 8px);
}

@media screen and (max-width: 1024px) {
  .col-lg-6 {
    width: calc(100% - 8px);
  }
  .col-lg-7 {
    width: calc(100% - 8px);
  }
  .col-lg-8 {
    width: calc(100% - 8px);
  }
  .col-lg-9 {
    width: calc(100% - 8px);
  }
  .col-lg-10 {
    width: calc(100% - 8px);
  }
  .col-lg-11 {
    width: calc(100% - 8px);
  }
  .col-lg-12 {
    width: calc(100% - 8px);
  }
}
@media screen and (max-width: 768px) {
  .col-lg-1 {
    width: calc(100% - 8px);
  }
  .col-lg-2 {
    width: calc(100% - 8px);
  }
  .col-lg-3 {
    width: calc(100% - 8px);
  }
  .col-lg-4 {
    width: calc(100% - 8px);
  }
  .col-lg-5 {
    width: calc(100% - 8px);
  }
  .col-lg-6 {
    width: calc(100% - 8px);
  }
  .col-lg-7 {
    width: calc(100% - 8px);
  }
  .col-lg-8 {
    width: calc(100% - 8px);
  }
  .col-lg-9 {
    width: calc(100% - 8px);
  }
  .col-lg-10 {
    width: calc(100% - 8px);
  }
  .col-lg-11 {
    width: calc(100% - 8px);
  }
  .col-lg-12 {
    width: calc(100% - 8px);
  }
}
.btn {
  height: 50px;
  padding: 16px 24px;
  border: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}
.btn.btn-primary {
  color: #131313;
  background-color: #fced70;
}

.images__header {
  display: block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.875rem;
}

.images_content {
  display: flex;
  text-decoration: none;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.images_content a {
  margin: 10px;
}

.images_content img {
  height: auto;
  max-width: 400px;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

section {
  padding: 80px 30px;
}
section + section {
  padding-top: 0;
}
section h2 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */