html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[class*=col-] {
  box-sizing: border-box;
  padding: 8px;
}

.row {
  margin: 8px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.row__16 {
  gap: 4px;
}
.row__16 [class*=col-] {
  padding: 4px;
}

.col-lg-1 {
  width: calc(8.3333333333% - 8px);
}

.col-lg-2 {
  width: calc(16.6666666667% - 8px);
}

.col-lg-3 {
  width: calc(25% - 8px);
}

.col-lg-4 {
  width: calc(33.3333333333% - 8px);
}

.col-lg-5 {
  width: calc(41.6666666667% - 8px);
}

.col-lg-6 {
  width: calc(50% - 8px);
}

.col-lg-7 {
  width: calc(58.3333333333% - 8px);
}

.col-lg-8 {
  width: calc(66.6666666667% - 8px);
}

.col-lg-9 {
  width: calc(75% - 8px);
}

.col-lg-10 {
  width: calc(83.3333333333% - 8px);
}

.col-lg-11 {
  width: calc(91.6666666667% - 8px);
}

.col-lg-12 {
  width: calc(100% - 8px);
}

@media screen and (max-width: 1024px) {
  .col-lg-6 {
    width: calc(100% - 8px);
  }
  .col-lg-7 {
    width: calc(100% - 8px);
  }
  .col-lg-8 {
    width: calc(100% - 8px);
  }
  .col-lg-9 {
    width: calc(100% - 8px);
  }
  .col-lg-10 {
    width: calc(100% - 8px);
  }
  .col-lg-11 {
    width: calc(100% - 8px);
  }
  .col-lg-12 {
    width: calc(100% - 8px);
  }
}
@media screen and (max-width: 768px) {
  .col-xs-6 {
    width: calc(50% - 8px) !important;
  }
}
@media screen and (max-width: 768px) {
  .col-lg-1 {
    width: calc(100% - 8px);
  }
  .col-lg-2 {
    width: calc(100% - 8px);
  }
  .col-lg-3 {
    width: calc(100% - 8px);
  }
  .col-lg-4 {
    width: calc(100% - 8px);
  }
  .col-lg-5 {
    width: calc(100% - 8px);
  }
  .col-lg-6 {
    width: calc(100% - 8px);
  }
  .col-lg-7 {
    width: calc(100% - 8px);
  }
  .col-lg-8 {
    width: calc(100% - 8px);
  }
  .col-lg-9 {
    width: calc(100% - 8px);
  }
  .col-lg-10 {
    width: calc(100% - 8px);
  }
  .col-lg-11 {
    width: calc(100% - 8px);
  }
  .col-lg-12 {
    width: calc(100% - 8px);
  }
}
.btn {
  height: 50px;
  padding: 16px 24px;
  border: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}
.btn.btn-primary {
  color: #131313;
  background-color: #fced70;
}

.images_content img {
  height: auto;
}

.subscribe__banner {
  background-color: #514f4d;
  padding: 56px;
}
.subscribe__banner .row {
  align-items: center;
}
.subscribe__banner .social-links {
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: flex-end;
}
.subscribe__banner .input-group {
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  height: 49px;
  border-radius: 4px;
  overflow: hidden;
}
.subscribe__banner .input-group input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background-color: transparent;
  padding: 0 12px;
  color: white;
}
.subscribe__banner .input-group input::-moz-placeholder {
  color: white;
}
.subscribe__banner .input-group input::placeholder {
  color: white;
}
.subscribe__banner .input-group .btn {
  background-color: #f7eee3;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .subscribe__banner {
    padding: 24px;
  }
  .subscribe__banner .social-links {
    display: flex;
    justify-content: center;
  }
}
footer {
  padding: 86px 23px 40px;
  background-color: #131313;
  color: white;
}
footer ul li {
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
}
footer ul li a {
  color: white;
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: underline;
}
footer p {
  font-size: 10px;
  line-height: 20px;
  font-weight: 500;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.container .response_image_mobile img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  border-radius: 5px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 10px 10px;
  }
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

section {
  padding: 80px 30px;
}
section + section {
  padding-top: 0;
}
section h2 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  section {
    padding: 50px 0px;
  }
  section h2 {
    font-size: 25px;
    font-weight: 600;
  }
  section h3 {
    font-size: 30px !important;
    font-weight: 600;
  }
}
.m-0 {
  margin: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.p-0 {
  padding: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p-1 {
  padding: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-2 {
  padding: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.m-3 {
  margin: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.p-3 {
  padding: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.m-4 {
  margin: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.p-4 {
  padding: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.m-5 {
  margin: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.p-5 {
  padding: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.m-6 {
  margin: 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.ml-6 {
  margin-left: 6rem;
}

.mx-6 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.p-6 {
  padding: 6rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pl-6 {
  padding-left: 6rem;
}

.px-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.m-7 {
  margin: 7rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.ml-7 {
  margin-left: 7rem;
}

.mx-7 {
  margin-left: 7rem;
  margin-right: 7rem;
}

.my-7 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.p-7 {
  padding: 7rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pr-7 {
  padding-right: 7rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pl-7 {
  padding-left: 7rem;
}

.px-7 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.py-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.m-8 {
  margin: 8rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.ml-8 {
  margin-left: 8rem;
}

.mx-8 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.my-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.p-8 {
  padding: 8rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pr-8 {
  padding-right: 8rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pl-8 {
  padding-left: 8rem;
}

.px-8 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.py-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.m-9 {
  margin: 9rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mr-9 {
  margin-right: 9rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.ml-9 {
  margin-left: 9rem;
}

.mx-9 {
  margin-left: 9rem;
  margin-right: 9rem;
}

.my-9 {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.p-9 {
  padding: 9rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pr-9 {
  padding-right: 9rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pl-9 {
  padding-left: 9rem;
}

.px-9 {
  padding-left: 9rem;
  padding-right: 9rem;
}

.py-9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.m-10 {
  margin: 10rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mr-10 {
  margin-right: 10rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.ml-10 {
  margin-left: 10rem;
}

.mx-10 {
  margin-left: 10rem;
  margin-right: 10rem;
}

.my-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.p-10 {
  padding: 10rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pr-10 {
  padding-right: 10rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.pl-10 {
  padding-left: 10rem;
}

.px-10 {
  padding-left: 10rem;
  padding-right: 10rem;
}

.py-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.menu__label_content {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
}
.menu__label_content .row {
  justify-content: flex-start;
}
.menu__label_content h3 {
  font-weight: 700;
  margin-bottom: 15px;
}
.menu__label_content ul a {
  font-size: 15px;
  text-decoration: none;
  font-weight: 500;
  color: black;
}
.menu__label_content ul li {
  padding: 10px 0px 10px 0px;
}

.menu__label_content.active {
  transform: scaleY(1);
}

header {
  height: 64px;
  background-color: azure;
  display: flex;
  align-items: center;
  padding: 0 24px;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .nav__logo {
  height: 40px;
}
header .nav__menu {
  display: flex;
  text-decoration: none;
  color: black;
  gap: 64px;
}
header .nav__menu__mobile {
  display: none;
}
header .nav__menu__mobile svg {
  height: 24px;
  width: 24px;
}
@media (max-width: 768px) {
  header .nav__menu {
    display: none;
  }
  header .nav__menu__mobile {
    display: block;
  }
}
header .nav__menu__inner {
  padding: 25px 0px 25px 0px;
  cursor: pointer;
}
header .menu {
  display: flex;
  gap: 64px;
}

img {
  max-width: 100%;
}

.splash {
  position: relative;
}
.splash .splash__content {
  position: absolute;
  top: 70px;
}
.splash .splash__content h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  margin-bottom: 13px;
  color: white;
}
@media (max-width: 768px) {
  .splash {
    height: 70vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .splash .splash__content {
    top: 80%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .splash .splash__content h3 {
    font-size: 24px;
    line-height: 29px;
  }
}

.section_outer section {
  padding: 0px;
}
.section_outer .service__desc {
  background-color: #f7eee3;
  height: 256px;
  display: flex;
  align-items: center;
}
.section_outer .service__desc .container .row {
  align-items: center !important;
}
.section_outer .service__desc .__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.section_outer .service__desc .__box p {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
@media screen and (max-width: 768px) {
  .section_outer .service__desc {
    height: auto;
    padding: 40px 0px;
  }
}

.nomad-section {
  background-color: #f7eee3;
  height: 700px;
}
.nomad-section .content {
  background-image: url(../assets/Nomad-Collection-V2.png);
  background-repeat: no-repeat;
  height: 700px;
  background-size: contain;
  background-position: right;
}
.nomad-section .content .text-outer .content-inner {
  padding-top: 100px;
  width: 292px;
}
.nomad-section .content .text-outer .content-inner h4 {
  color: #000000;
  text-decoration-line: underline;
  letter-spacing: 0.76em;
  font-style: italic;
  font-weight: 600;
  font-size: 12px;
  line-height: 37px;
}
.nomad-section .content .text-outer .content-inner p {
  margin-top: 31px;
  font-size: 20px;
  line-height: 37px;
  font-style: italic;
}
.nomad-section .content .text-outer .content-inner p span {
  font-weight: 600;
}
.nomad-section .content .text-outer .content-inner a {
  font-weight: 600;
  font-size: 12px;
  line-height: 37px;
  color: #000000;
  margin-top: 14px;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .nomad-section .content .text-outer .content-inner {
    padding-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .nomad-section .content {
    background-position: bottom;
  }
}

.products-inner {
  width: 449px;
}
.products-inner h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}
.products-inner p {
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 500;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .products-inner {
    width: 100%;
  }
}
.products {
  /* Make the container relative */
}
.products .row {
  display: flex;
  justify-content: flex-start;
}
.products .row .col-lg-4 a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  margin-top: 12px;
  text-decoration: none;
  color: inherit;
  display: block;
}
.products .row .col-lg-4 a:hover {
  text-decoration: underline;
}
.products .row .col-lg-4 p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  margin-top: 8px;
  color: #9c9c9c;
}
.products .reveal {
  display: flex;
  flex: 1 1 100%; /*last value must be picture width*/
  height: 200px; /* picture height*/
  padding-bottom: 12px; /*aesthetic only*/
  position: relative;
}
.products .top,
.products .bottom {
  position: absolute;
  opacity: 1;
  top: 0px;
  left: 50%; /*centers pictures inside flex children (.reveal divs)*/
  transform: translate(-50%, 0); /*see above*/
}
.products .reveal:hover .top {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.product-detail-inner h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.94px;
}
.product-detail-inner .row {
  justify-content: flex-start;
}
.product-detail-inner .row {
  justify-content: flex-start;
}
.product-detail-inner .row .porduct-detail-list h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 33.89px;
}
.product-detail-inner .row .porduct-detail-list h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #131313;
  margin-top: 17px;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric p {
  font-size: 14px;
  margin-top: 25px;
  line-height: 16.94px;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric p span {
  font-weight: 700;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-blue input[type=radio] {
  display: none;
  background-color: #011f89;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-blue label {
  cursor: pointer;
  position: relative;
  font-size: 4rem;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-blue label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  top: 50%;
  background-color: #011f89;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-blue label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  top: 50%;
  left: -5rem;
  transform: translateY(-50%) scale(0);
  transition: transform 400ms ease;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-blue input[type=radio]:checked + label::before {
  border-color: var(--primary-color);
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-blue input[type=radio]:checked + label::after {
  transform: translateY(-50%) scale(0.55);
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-green input[type=radio] {
  display: none;
  background-color: #3d8901;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-green label {
  cursor: pointer;
  position: relative;
  font-size: 4rem;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-green label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  top: 50%;
  background-color: #3d8901;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-green label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  top: 50%;
  left: -5rem;
  transform: translateY(-50%) scale(0);
  transition: transform 400ms ease;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-green input[type=radio]:checked + label::before {
  border-color: var(--primary-color);
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-green input[type=radio]:checked + label::after {
  transform: translateY(-50%) scale(0.55);
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-brown input[type=radio] {
  display: none;
  background-color: #890109;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-brown label {
  cursor: pointer;
  position: relative;
  font-size: 4rem;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-brown label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  top: 50%;
  background-color: #890109;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-brown label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  top: 50%;
  left: -5rem;
  transform: translateY(-50%) scale(0);
  transition: transform 400ms ease;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-brown input[type=radio]:checked + label::before {
  border-color: var(--primary-color);
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-brown input[type=radio]:checked + label::after {
  transform: translateY(-50%) scale(0.55);
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-black input[type=radio] {
  display: none;
  background-color: #000000;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-black label {
  cursor: pointer;
  position: relative;
  font-size: 4rem;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-black label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  top: 50%;
  background-color: #000000;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-black label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  top: 50%;
  left: -5rem;
  transform: translateY(-50%) scale(0);
  transition: transform 400ms ease;
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-black input[type=radio]:checked + label::before {
  border-color: var(--primary-color);
}
.product-detail-inner .row .porduct-detail-list .product-detail-fabric .input-black input[type=radio]:checked + label::after {
  transform: translateY(-50%) scale(0.55);
}
.product-detail-inner .row .porduct-detail-list .product-detail-arm-style p {
  font-size: 14px;
  margin-top: 25px;
  line-height: 16.94px;
}
.product-detail-inner .row .porduct-detail-list .product-detail-arm-style p span {
  font-weight: 700;
}
.product-detail-inner .row .porduct-detail-list .product-detail-arm-style .arm-sty-list {
  display: flex;
  justify-content: space-between;
}
.product-detail-inner .row .porduct-detail-list .product-detail-arm-style .arm-sty-list .simple-arm-list {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.product-detail-inner .row .porduct-detail-list .product-detail-arm-style .arm-sty-list .simple-flip-list {
  display: flex;
  justify-content: flex-start;
}
.product-detail-inner .row .porduct-detail-list .product-detail-arm-style .arm-sty-list input[type=checkbox][id^=myCheckbox] {
  display: none;
}
.product-detail-inner .row .porduct-detail-list .product-detail-arm-style .arm-sty-list label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}
.product-detail-inner .row .porduct-detail-list .product-detail-arm-style .arm-sty-list label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}
.product-detail-inner .row .porduct-detail-list .product-detail-arm-style .arm-sty-list label img {
  height: 30px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}
.product-detail-inner .row .porduct-detail-list .product-detail-arm-style .arm-sty-list :checked + label {
  border-color: #ddd;
}
.product-detail-inner .row .porduct-detail-list .product-detail-arm-style .arm-sty-list :checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox {
  margin-top: 33px;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox p span {
  font-weight: 700;
  font-size: 14px;
  line-height: 16.94px;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox .checkbox-list {
  margin-top: 12px;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox .checkbox-list .checkbox {
  position: absolute;
  opacity: 0;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox .checkbox-list .checkbox + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 20px;
  padding-left: 30px;
  font-size: 14px;
  font-family: sans-serif;
  color: #9c9c9c;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox .checkbox-list .checkbox + label:before {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background: transparent;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 1px #cecece;
  border-radius: 4px;
  transition: 200ms ease-in-out all;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox .checkbox-list .checkbox + label:after {
  position: absolute;
  display: block;
  top: 5px;
  left: 8px;
  content: "";
  width: 3px;
  height: 7px;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transform: rotate(45deg);
  transition: 200ms ease-in-out all;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox .checkbox-list .checkbox + label:hover {
  color: #333;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox .checkbox-list .checkbox + label:focus {
  outline: none;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox .checkbox-list .checkbox:checked + label:before {
  background: #fced70;
  box-shadow: none;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox .checkbox-list .checkbox:checked + label:after {
  border-color: white;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox .checkbox-list .checkbox:disabled + label:before {
  background: #f2f2f2;
  box-shadow: none;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox .checkbox-list .checkbox:disabled + label:after {
  border-color: transparent;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox .checkbox-list .checkbox:checked:disabled + label:before {
  background: #f2f2f2;
  box-shadow: none;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox .checkbox-list .checkbox:checked:disabled + label:after {
  border-color: #cecece;
}
.product-detail-inner .row .porduct-detail-list .product-detail-checkbox .checkbox-list .form-checkbox {
  position: relative;
  display: block;
  margin: 0 0 15px;
}
.product-detail-inner .image-gallery-blocks {
  display: flex;
  gap: 10px;
}
.product-detail-inner .image-gallery-blocks .product-detail-img-gallery-bottom {
  width: 100%;
  margin-top: 10px;
  height: 100px;
  background-color: #e8e8e8;
}
@media (max-width: 767px) {
  .product-detail-inner .image-gallery-blocks .product-detail-img-gallery-bottom {
    height: 50px;
  }
}

.product-detail-dimentions .row {
  justify-content: flex-start;
}
.product-detail-dimentions h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 33.89px;
}
.product-detail-dimentions .product-detail-table-content {
  display: flex;
  color: #9c9c9c;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #9c9c9c;
}
.product-detail-dimentions .product-detail-table-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
}

.project-detail-about h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 33.89px;
}
.project-detail-about p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 40px;
}
.project-detail-about .row {
  margin-top: 40px;
  justify-content: flex-start;
}
.project-detail-about .row .about-points h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.project-detail-about .row .about-points p {
  margin-top: 8px;
  font-size: 16px;
}

.product-detail-key-features h3 {
  font-size: 28px;
  font-weight: 400;
}
.product-detail-key-features .row {
  justify-content: flex-start;
}
.product-detail-key-features .row p {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.product-detail-bottom .row {
  justify-content: flex-start;
}
.product-detail-bottom .row h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
}
.product-detail-bottom .row p {
  font-size: 20px;
  margin-top: 20px;
  line-height: 30px;
}
.product-detail-bottom .row .box-margin {
  margin-top: 40px;
}
.product-detail-bottom .row .box-margin .row {
  justify-content: flex-start;
}
.product-detail-bottom .row .box-margin .row h5 {
  font-size: 16px;
  font-weight: 600;
}
.product-detail-bottom .row .box-margin .row .points-mt {
  font-size: 14px;
  margin-top: 8px;
}

.product-detail-bottom-products h3 {
  font-size: 36px;
  text-align: center;
}
.product-detail-bottom-products .row {
  justify-content: flex-start;
  margin-top: 40px;
}
.product-detail-bottom-products h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  margin-top: 12px;
}
.product-detail-bottom-products p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  margin-top: 8px;
  color: #9c9c9c;
}