header {
  height: 64px;
  background-color: azure;
  display: flex;
  align-items: center;
  padding: 0 24px;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav__logo {
    height: 40px;
  }

  .nav__menu {
    display: flex;
    text-decoration: none;
    color: black;
    gap: 64px;
  }

  .nav__menu__mobile {
    display: none;
    svg {
      height: 24px;
      width: 24px;
    }
  }

  // media queries//
  @media (max-width: 768px) {
    .nav__menu {
      display: none;
    }

    .nav__menu__mobile {
      display: block;
    }
  }

  .nav__menu__inner {
    padding: 25px 0px 25px 0px;
    cursor: pointer;
  }

  .menu {
    display: flex;
    gap: 64px;
  }
}
