.splash {
  position: relative;

  .splash__content {
    position: absolute;
    top: 70px;

    h3 {
      font-size: 28px;
      font-weight: 500;
      line-height: 33px;
      margin-bottom: 13px;
      color: white;
    }
  }

  @media (max-width: 768px) {
    height: 70vh;
    object-fit: cover;
    object-position: center;

    .splash__content {
      top: 80%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      text-align: center;

      h3 {
        font-size: 24px;
        line-height: 29px;
      }
    }
  }
}
