.images__header {
  display: block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.875rem;
}

.images_content {
  display: flex;
  text-decoration: none;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.images_content a {
  margin: 10px;
}

.images_content img {
  height: auto;
  max-width: 400px;
}
